<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Arcturus | Signing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://arcturus-gpt.com/arcturus.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-freighter-api/1.7.1/index.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/10.4.1/stellar-sdk.min.js"></script>
    <script>
        async function signWithFreighter() {
            if (await window.freighterApi.isConnected()) {
                if (!await window.freighterApi.isAllowed()) {
                    if (!await window.freighterApi.setAllowed()) {
                        alert("Error: Could not add Arcturus GPT to Freighter's Allow List");
                        return
                    }
                }
                try {
                    let sourcePublicKey = await window.freighterApi.getPublicKey()
                    let network_passphrase = "{{network_passphrase}}"
                    let network = "{{network}}"
                    let horizon_url = "{{horizon_url}}"
                    let destination = "{{destination}}"
                    let amount = "{{amount}}"

                    displayLoading()
                    let server = new StellarSdk.Server(horizon_url);
                    let account = await server.loadAccount(sourcePublicKey);
                    let fee = await server.fetchBaseFee();

                    {% if asset_code and asset_issuer %}
                    let asset = new StellarSdk.Asset(
                        "{{asset_code}}",
                        "{{asset_issuer}}",
                        );
                    {% else %}
                    let asset = StellarSdk.Asset.native();
                    {% endif %}

                    {% if memo %}
                        {% if memo_type %}
                            let memo = new StellarSdk.Memo("{{memo_type}}", "{{memo}}")
                        {% else %}
                            let memo = StellarSdk.Memo.text("{{memo}}");
                        {% endif %}
                    {% else %}
                        let memo = StellarSdk.Memo.none();
                    {% endif %}
                    
                    let transaction = new StellarSdk.TransactionBuilder(account, { fee, networkPassphrase:network_passphrase })
                        .addOperation(StellarSdk.Operation.payment({
                        destination: destination,
                        asset: asset,
                        amount: amount,
                    })).setTimeout(3000).addMemo(memo).build();
                    let xdr = transaction.toEnvelope().toXDR('base64');
                    let signedTransaction = await window.freighterApi.signTransaction(xdr, {network,});
                    displaySubmit(signedTransaction)
                    hideLoading()
                } catch (e) {
                    hideLoading()
                    alert("Error: " + e)
                }
            } else {
                alert("Error: Freighter browser extension could not be located")
            }
        }

        async function submitTx(signedTransaction) {
            try {
                var submit_container = document.getElementById("submit_container");
                submit_container.style.display = "none";
                let network_passphrase = "{{network_passphrase}}"
                let horizon_url = "{{horizon_url}}"

                const transaction = new StellarSdk.Transaction(signedTransaction, network_passphrase);
                let server = new StellarSdk.Server(horizon_url);
                displayLoading()
                const transactionResult = await server.submitTransaction(transaction);
                console.log(transactionResult)
                hideLoading()
                if (transactionResult.successful) {
                    displayResult("Success, transaction id: ", transactionResult.hash)
                } else {
                    displayResult("Error, submission failed.")
                }
            } catch (err) {
                hideLoading()
                displayResult(err)
            }
        }

        function displaySubmit(signedTransaction) {
            var sign_container = document.getElementById("sign_container");
            sign_container.style.display = "none";
            var submit_container = document.getElementById("submit_container");
            submit_container.style.display = "block";
            var submitButton = document.getElementById("submit");
            if (!submitButton ) {
                submitButton = document.createElement('button');
            }
            submitButton.id = 'submit';
            submitButton.setAttribute("class", "btn btn-outline-primary");
            submitButton.textContent = 'Submit to Stellar';
            console.log(signedTransaction)
            submitButton.addEventListener("click", function() {
                submitTx(signedTransaction);
            });
            submit_container.appendChild(submitButton);
        }

        function displayResult(msg, txHash) {
            var result_container = document.getElementById("result_container");
            result_container.style.display = "block";
            var msgElement = document.createElement("p");
            msgElement.textContent = msg;

            if (txHash !== undefined) {
                let network = "{{network}}"
                let hash_link = "https://stellar.expert/explorer/" + network.toLowerCase() + "/tx/" + txHash
                msgElement.innerHTML += '<a href="'+hash_link+'" target="_blank">'+txHash+'</a>'
            }
            result_container.appendChild(msgElement);
        }

        // showing loading
        function displayLoading() {
            const loader = document.querySelector("#loading");
            loader.classList.add("display");
            // to stop loading after some time
            setTimeout(() => {
                loader.classList.remove("display");
            }, 15000);
        }

        // hiding loading 
        function hideLoading() {
            const loader = document.querySelector("#loading");
            loader.classList.remove("display");
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted"><a href="https://arcturus-gpt.com">Arcturus<font style="color:#111111">GPT</font></a><p class="pull-right"><i class="fa fa-star" style="color:#ff7400" aria-hidden="true"></i></p></h3>
            <footer class="blockquote-footer">Access Stellar from ChatGPT</footer>
        </div>
        <div class="row marketing">
            <div class="col-lg-12">
                <h4><i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp;Sign & submit</h4>
                <p></p>
                <div id="sign_container" style="display: block">
                    <br/>
                    <p>You're requesting signing and submission for following payment:</p>
                    <p>Destination: {{destination}} </p>
                    <p>Amount: {{amount}} </p>
                    {% if asset_code and asset_issuer%}
                        <p>Asset: {{asset_code}} </p>
                        <p>Asset Issuer: {{asset_issuer}} </p>
                    {% else %}
                        <p>Asset: XLM (Stellar Lumens) </p>
                    {% endif %}
                    {% if memo %}
                        <p>Memo: {{memo}} </p>
                        {% if memo_type %}
                            <p>Memo type: {{memo_type}} </p>
                        {% else %}
                            <p>Memo type: text </p>
                        {% endif %}
                    {% endif %}
                    <p>Network: {{network}} </p>
                    {% if msg %}
                        <p>Message: {{msg}} </p>
                    {% endif %}
                    <p>You can sign your payment with <a href="https://www.freighter.app" target="_blank">Freighter</a>, a secure browser extension provided by the <a href="https://stellar.org/foundation" target="_blank">Stellar Development Foundation</a>.</p>
                    <br/>
                    <p><button class="btn btn-outline-primary" type="button" onclick="signWithFreighter()">Sign with Freighter</button></p>
                </div>
                <div id="submit_container" style="display: none">
                    <p>Your payment has been signed. You can now submit it to the Stellar Network.</p>
                </div>
                <div id="result_container" style="display: none"></div>
                <div id="loading"></div>
            </div>
        </div>
        <div class="text-center">
            <p>If you have any questions, please contact us  <a href="mailto:admin@arcturus-gpt.com">admin@arcturus-gpt.com</a>. </p>
        </div>

        <p></p>

        <footer class="footer">
            <div class="row">
                <div class="col">
                    <p>&copy; 2023, Arcturus GPT</p>
                </div>
                <div class="col">
                    <p class="pull-right">admin@arcturus-gpt.com</p>
                    <code></code>
                </div>
            </div>
        </footer>
    </div> <!-- /container -->
</body>
</html>